/********** GLOBAL **********/

* {
	margin: 0;
}

html {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
}

.down-arrow {
	color: #ff5252 !important;
}
.up-arrow {
	color: #ff5252 !important;

	transform: scaleX(-1) !important;
	-moz-transform: scaleX(-1) !important;
	-webkit-transform: scaleX(-1) !important;
	-ms-transform: scaleX(-1) !important;
}

body {
	--g-border-color: #00000024;
	--g-font-color-grey: #00000099;
}

.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

/* :root {
	--g-border-color: #00000024;
	--g-font-color-grey: #00000099;
} */

.material-icons {
	cursor: pointer;
}

[contenteditable]:focus {
	outline: 0px solid transparent;
}

input {
	background-color: inherit;
}

/********** GLOBAL BLACK THEME **********/

body[black] {
	background-color: #222222;
	color: rgb(238, 238, 238);
	--g-border-color: rgb(238, 238, 238);
	--g-font-color-grey: rgb(238, 238, 238);
}
body[black] .logo,
body[black] .brand {
	opacity: 1;
}

body[black] input,
body[black] .change-font-size__btn {
	color: rgb(238, 238, 238);
}
body[black] .global-toolbar[fixed-nav] {
	background-color: #222222;
}

body[black] .font-info {
	border-color: rgb(238, 238, 238);
}

/********** HEADER **********/

header {
	padding: 1.3rem 4rem;
	border-bottom: 1px solid var(--g-border-color);
	margin-bottom: 15px;
}

.menu-container {
	list-style: none;
}

.menu-container li {
	margin: 0 10px;
	text-decoration: none !important;
	font-size: 0.9rem;
}

.menu-container a {
	font-family: inherit;
	font-weight: 500;
	text-decoration: none !important;
	color: var(--g-font-color-grey);
}

.logo {
	/* background-image: url("https://www.gstatic.com/images/branding/googlelogo/1x/googlelogo_dark_color_74x24dp.png"); */
	/* background-image: url("https://www.gstatic.com/images/branding/googlelogo/2x/googlelogo_dark_color_74x24dp.png");
	width: 74px;
	height: 24px;
	background-size: 74px 24px;
	display: inline-block;
	opacity: 0.6; */
	font-weight: 600;
}

.brand,
.logo {
	font-family: "Product Sans", Arial, Helvetica, sans-serif;
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	opacity: 0.6;
}

/********** MAIN **********/

main {
	/* padding: 1.3rem 4rem; */
	margin: 0 10rem;
}

.global-toolbar {
	/* position: fixed; */
	border: 1px solid var(--g-border-color);
	border-radius: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 35px;
	margin-bottom: 30px;
	padding: 5px;
	/* transition: all 2s ease-out; */
}
.global-toolbar[fixed-nav] {
	position: sticky;
	/* position: fixed; */
	/* width: 100%; */
	top: 0px;
	left: 0px;
	/* margin-bottom: 40px; */
	background-color: white;
	/* transform: scale(1, 0.2); */
}

.global-toolbar .material-icons {
	font-size: 24px;
	color: var(--g-font-color-grey);
}

.global-toolbar input {
	border: none;
	font-size: 1.1rem;
}

.global-toolbar > * input {
	font-weight: 600;
}

.search-font {
	position: relative;
	flex-wrap: nowrap;
	width: 25%;
	/* padding: 10px; */
}

.search-font input {
	width: 100%;
}

.toggle-theme {
	position: relative;
	padding-left: 10px;
	/* border-left: 1px solid var(--g-border-color); */
}

.type-something {
	position: relative;
	padding-left: 10px;
	border-left: 1px solid var(--g-border-color);
}
.type-something input {
	border-bottom: 1px solid var(--g-border-color);
}

.change-font-size {
	border-left: 1px solid var(--g-border-color);
}

.change-font-size__btn {
	background-color: transparent;
	color: rgba(0, 0, 0, 0.6);
	border: none;
	display: flex;
	font-size: 1.1rem;
	/* padding: 10px; */
}

/* .change-font-size__btn::after {
	color: #ff5252;
	content: "\0025bc";
	position: relative;
	font-size: 13px;
	transform: scaleY(0.5) scaleX(1);
	top: 0;
	right: -2px;
	background: transparent !important;
	cursor: pointer;
} */

.refresh {
	z-index: 1;
	background-color: inherit;
}

/********** Grid list **********/

.grid-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.font-info {
	min-width: 30rem;
	max-width: 25rem;
	min-height: 300px;
	border-top: 1px solid rgba(0, 0, 0, 0.4);
}
.font-info[wide] {
	min-width: 100%;
	max-width: 25rem;
	min-height: 300px;
	border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.font-info h1,
.font-info h2 {
	font-size: inherit;
	font-weight: 500;
	padding: 10px 0;
}

.font-info h2 {
	color: var(--g-font-color-grey);
}

.font-info .material-icons {
	color: rgb(250, 87, 89);
}

.font-info span {
	overflow-wrap: break-word;
	display: inline-block;
	padding-top: 30px;
}

.font-overview {
	height: 200px;
	width: 25rem;
	border: none;
	font-size: 20px;
}

.font-overview input {
	flex: 1;
	display: block;
	border: none;
	min-width: 0;
}

.fontest {
	font-family: "Open Sans Condensed", sans-serif;
}

/********** GO TO TOP BUTTON **********/

#go-to-top {
	display: none;
	padding: 30px;
	background-color: white;
	border-radius: 50%;
	position: fixed;
	bottom: 20px;
	right: 20px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/********** Media queries **********/

@media screen and (max-width: 911px) {
	main {
		margin: 0 5rem;
	}
}

@media screen and (max-width: 720px) {
	.type-something,
	.toggle-view {
		display: none;
	}
	.menu-container {
		padding-left: 0;
	}
	.menu-container li {
		margin-left: 0;
	}
}
@media screen and (max-width: 450px) {
	.toggle-theme,
	.change-font-size {
		display: none;
	}
	header {
		font-size: 0.6rem;
		/* padding: 1rem; */
	}
}
@media screen and (max-width: 408px) {
	html {
		font-size: 0.8rem;
	}
}
@media screen and (max-width: 548px) {
	.logo-brand-container {
		margin-bottom: 10px;
	}
	.font-info {
		min-width: 15rem;
	}
	.search-font {
		width: 40%;
	}
}
@media screen and (max-width: 348px) {
	header {
		padding: 0.3rem;
	}
}
